/DiySoccer/packages/
/DiySoccer/.vs/
/DiySoccer/.idea/
/DiySoccer/.vscode/
*.user
/DiySoccer/Authentication/bin/
/DiySoccer/Authentication/obj/
/DiySoccer/Core/bin/
/DiySoccer/Core/obj/
/DiySoccer/Dependences/bin/
/DiySoccer/Dependences/obj/
/DiySoccer/DiySoccer/bin/
/DiySoccer/DiySoccer/obj/
/DiySoccer/DiySoccer/node_modules/
/DiySoccer/DiySoccer/Media/
/DiySoccer/Implementations/bin/
/DiySoccer/Implementations/obj/
/DiySoccer/Interfaces/bin/
/DiySoccer/Interfaces/obj/
/DiySoccer/Frontend/node_modules/
/DiySoccer/Frontend-react/node_modules/

/DiySoccer/DiySoccer/package-lock.json
/.vs

/src/be/dotnet/.idea/
/src/be/dotnet/web/.idea/
/src/be/dotnet/web/obj/
/src/be/dotnet/web/bin/
/src/be/dotnet/interfaces/.idea/
/src/be/dotnet/interfaces/obj/
/src/be/dotnet/interfaces/bin/
/src/be/dotnet/implementations/.idea/
/src/be/dotnet/implementations/obj/
/src/be/dotnet/implementations/bin/
