<html>
<head>
    <link href="~/Content/dist/react/styles.bundle.css" rel="stylesheet">
</head>
<body>
<div id="react"></div>

<!-- old frontend -->
<script src="~/Content/dist/vendor.bundle.js"></script>
<script src="~/Content/dist/app.bundle.js"></script>

<!-- new frontend -->
<script src="~/Content/dist/react/react.app.bundle.js"></script>
</body>
</html>